# Numeric

A data type expressed by any kind of numbers. Here to be discussed only integers and floats

### Integers

Expressed by integers (whole numbers)

In [4]:
int1 = 1
type(int1)

int

### Float

Rational numbers expressed in the decimal (or any other) system, having explicitly stated at least one decimal place. Includes what would mathematically be integers if .0 is explicitely expressed.

In [5]:
float1 = 1.0
type(float1)

float

## Dictionary

Is a set consisting of elements that are built as key:value pairs. The values can be of any data type, are mutable and can be repetead, while the keys must be immutable and unique. The keys provide a tool for searching the dictionary.

In [7]:
mydict = {"1":2, "2":3, "3":4}
mydict["1"]

2

In [8]:
type(mydict)

dict

## Boolean

Has only two values, TRUE or FALSE. Every expression can be assigned a value either through the inherent logic or by definition in python

In [9]:
2>3

False

In [10]:
3>2

True

In [11]:
type(2>3)

bool

In [12]:
bool(0)

False

In [13]:
bool(1)

True

The above two do not follow a logic: they are just defined to be True or False

## Sequence

Sequences are data types in which the order matters. They come in 3 flavours: strings, lists, tuples

### Strings

Strings are a sequence of unicode characters displayed in between quotes. Strings are immutable. As they are ordered, elements are assigned indeces within

In [15]:
mystring = 'Hello'
mystring[0]

'H'

In [16]:
type(mystring)

str

### Lists

Lists are an ordered mutable data type, where elements can be of any type and are separated by a coma.

In [18]:
mylist = [1, 'h', 'it is not funny', [1,2,3], {'haha':'do 3 times'}, False]
type(mylist)

list

In [19]:
mylist[5] = True
mylist

[1, 'h', 'it is not funny', [1, 2, 3], {'haha': 'do 3 times'}, True]

### Tuples

They are like lists, but they are immutable. Other characteristics that are not related to mutability are the same as for lists

In [20]:
mytuple = (1, 'h', 'it is not funny', [1,2,3], {'haha':'do 3 times'}, False)
type(mytuple)

tuple

In [21]:
mytuple[0]

1

In [22]:
mytuple[0] = 2
mytuple[0]

TypeError: 'tuple' object does not support item assignment

As expected, this attempt did not work... Also to note it that it is the bracket used that defines these different data types

## Sets

Sets are exactly as we know them from mathematics: They are unordered, every element is unique, because the elements have no indeces assigned, they are immutable, too, they can be removed or added to, though

In [23]:
myset = {'set', ['no set'],{'but':'part of a set'}}
type(myset)

TypeError: unhashable type: 'list'

hups, looks like sets cannot contain just about any data type, let's try this:

In [24]:
myset = {'set', 1, 3}
type(myset)

set

Done?