In [28]:
import pandas as pd

In [29]:
tobeimp = 'belize_airbnb_listings.csv'

In [30]:
data = pd.read_csv(tobeimp)

In [31]:
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [81]:
grouped_mean_price = data.groupby('neighbourhood')['price'].mean().sort_values()

In [82]:
grouped_mean_price

neighbourhood
Orange Walk              122.035714
Corozal                  156.553846
Cayo                     205.847525
Toledo Mainland          222.978723
Belize Mainland          288.273063
Belize Islands           399.442824
Stann Creek Mainland     456.994690
Stann Creek Islands     1136.166667
Name: price, dtype: float64

In [83]:
grouped_mean_review = data.groupby('neighbourhood')['number_of_reviews'].mean().sort_values()

In [84]:
grouped_mean_review

neighbourhood
Toledo Mainland          4.127660
Stann Creek Islands      5.750000
Corozal                  7.569231
Stann Creek Mainland     8.470796
Cayo                    14.566337
Orange Walk             14.821429
Belize Mainland         15.147601
Belize Islands          17.647736
Name: number_of_reviews, dtype: float64

In [85]:
grouped_mean_availability = data.groupby('neighbourhood')['availability_365'].mean().sort_values()

In [86]:
grouped_mean_availability

neighbourhood
Toledo Mainland         234.744681
Stann Creek Islands     248.083333
Cayo                    259.249505
Belize Mainland         261.014760
Orange Walk             261.928571
Stann Creek Mainland    277.872566
Corozal                 278.676923
Belize Islands          295.970837
Name: availability_365, dtype: float64

In [76]:
og_list = list(range(2,15,2))

In [77]:
#for index, item in enumerate(og_list):
#    og_list[index] = item**2



#or
new_list = [i**2 for i in og_list]
new_list
# I will just continue modifying the new one

[4, 16, 36, 64, 100, 144, 196]

In [79]:
#for index, item in enumerate(og_list):
#    og_list[index] = round(item*2/3, 2)

newest_list = [round(i*2/3, 2) for i in og_list]
newest_list

[1.33, 2.67, 4.0, 5.33, 6.67, 8.0, 9.33]

In [80]:
dict={"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400,
"Peaches": 13600, "Oranges": 7}

new_dict = {key.lower() : value for key, value in dict.items()}
new_dict

{'apples': 1500,
 'cranberries': 2000,
 'pears': 2500,
 'cherries': 1600,
 'plums': 2400,
 'peaches': 13600,
 'oranges': 7}

In [63]:
import numpy as np
og_array = np.arange(2,15,2)
og_array

array([ 2,  4,  6,  8, 10, 12, 14])

In [ ]:
# much better I guess
sqr_array = og_array**2
twothirds = og_array*2/3