In [1]:
import numpy as np
import pandas as pd

import math
import statistics
from scipy import stats

In [26]:
belize_listing_path = "C:/Users/balazs.varga/Documents/BALAZS/USE/REPOS/Data-Science-Assignments/course_material/week_08/belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listing_path)

In [28]:
belize_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.0,5,225

## 1, Three Types of Means

### Aritmetic mean:

#### Is the average of a set of numerical values. Calculate the sum of all the values and then divide by the count

In [37]:
mylist = [1,2,3,4,5,6,7]

mymean = sum(mylist)/len(mylist)
mymean

4.0

### Geometric mean

#### Is the product of all the n-th root of all the values, where n is the number of values. Calculate the product first, then take the n-th root

In [39]:
mygeom = np.prod(np.array(mylist))**(1/len(mylist))
mygeom

3.3800151591412964

### Harmonic mean

#### For a set of positive values the harmonic mean can be calculated as the reciprocal of the average of the reciprocals of the values in the set

In [42]:
x = 0
for i in mylist:
    x += 1/i/len(mylist)
    
harmonic = 1/x
harmonic

2.6997245179063363

## 2, Working on it...

In [15]:
mylist = []

def sorter():
    new_item = input('Please give me a word: ')
    mylist.append(new_item)
    mylist.sort()
    return mylist

In [21]:
sorter()

Please give me a word: bonanza

['alabama', 'apple', 'banana', 'bonanza', 'kettle']

In [17]:
mylist

['banana']